

<EditForm Model="Book" OnValidSubmit="HandleSubmit">
    
<DataAnnotationsValidator />
<div class="form-group">
    <label for="title">Title</label>
    <InputText class="form-control" id="title" @bind-Value="Book.Title" />
     <ValidationMessage For="@(()=>Book.Title)" />
  
</div>
<div class="form-group">
    <label for="description">Description</label>
    <InputTextArea class="form-control" id="description" @bind-Value="Book.Description" />
    <ValidationMessage For="@(() => Book.Description)"/>
</div>
<div class="form-group">
    <label for="authors">Authors</label>
    <InputText class="form-control" id="authors" @bind-Value="Author.Name" />
    <ValidationMessage For="@(() => Book.Authors)"/>
</div>

 <button type="button" class="bg-success" onclick="@(()=>Book.Authors.Add(new AuthorDTO()))">Add Author</button>
        
            <button type="submit" class="bg-primary">
           @(isEdit ? "Edit" : "Add") Book
            </button>


</EditForm>
@code {

    [Parameter]
    public AuthorDTO Author { get; set; } = new AuthorDTO()
      {
            Id = Guid.NewGuid()
      };


    [Parameter]
    public BookDTO Book { get; set; } = new BookDTO()
        {
            Id = Guid.NewGuid()
        };


    [Parameter]
    public EventCallback<BookDTO> OnBookAdded { get; set; }

    [Parameter]
    public EventCallback<BookDTO> OnBookChanged { get; set; }

    public async Task AddNewBook()
    {
        await OnBookAdded.InvokeAsync(Book);
        Book = new BookDTO();
    }
    public async Task EditBook()
    {
        await OnBookChanged.InvokeAsync(Book);
        Book = new BookDTO();
    }

    //This bool is to help in togling the form from Adding to Editting
    private bool isEdit = false;

    public void HandleSubmit()
    {
        if (isEdit)
        {
            EditBook();
        }
        else
        {
            AddNewBook();
        }
    }
    [Parameter]
    public BookDTO EditingBook
    {
        get => Book;
        set
        {
            Book = value ?? Book;
            isEdit = value != null;
        }
    }

  

    

    
}
